// ----- Layout -----

// Custom containers and columns
.fullwidth, .fullwidth-sm, .fullwidth-lg, .fullwidth-np, .fullwidth-bg {
	width: 100%;
	@include clearfix();
	clear: both;
}
.fullwidth-lg {
	padding-top: 45px;
	padding-bottom: 45px;
}
.fullwidth {
	padding-top: 30px;
	padding-bottom: 30px;
}
.fullwidth-sm {
	padding-top: 15px;
	padding-bottom: 15px;
}
.fullwidth-bg, .fullwidth-np {
	padding-top: 0;
	padding-bottom: 0;
}
.fullwidth-bg {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

	.col-np {
		padding-left: 0;
		padding-right: 0;
	}
	.col-lp {
		padding-left: 30px;
		padding-right: 30px;
	}


// Background colours/patterns
.bg-grey {
	background-color: $color-grey-light;
}
.bg-black {
	color: #fff;
	background-color: #000;

	a { color: #fff; }
}


// General panel styling
.panel-title, .panel-intro, .panel-outro { text-align: center; }
.panel-intro { @include rem(margin-bottom, 45px); }
.panel-outro { @include rem(margin-top, 45px); }

.text-block {
	padding: 15px;
	background-color: #fff;
}



// ----- Header -----
.header {
    background-color: #ddd;
}
	.logo {
		float: left;
		margin: 10px 0;
	}
	.nav-primary {
		float: right;
		margin: 10px 0;

		a {
			padding: 2px;
			margin-left: 10px;
		}
		a:hover, a:focus, .active {
			color: $color-grey-medium;
		}
	}


// Header image
.header-img {
	position: relative;
	overflow: hidden;

	.item, img, .header-text { width: 100%; }

	.item { 
		max-height: 450px;
		overflow: hidden;
	}
	&.header-img-lg .item { 
		max-height: 750px;
	}

		.header-text {
			@include align-center();
			position: absolute;
			text-align: center;
			color: #fff;
		}
			h1 { @include rem(font-size, 52px); }
}



// ----- Cookie -----
.cookie {
	display: none; 
	text-align: left;
	@include rem(font-size, 14px); 
	background: $color-grey-medium;

	.container {
		position: relative;
		padding-right: 45px;
	}
		.cookie-text {
			float: left;
			margin-right: 10px;
			margin-bottom: 4px;
		}
			.btn { 
				float: left; 
			}
			.cookie-close { 
				position: absolute;
				right: 15px;
				@include rem(font-size, 32px); 
			}
}
.cookie.active { display: block; }



// ----- Footer -----
.footer {
	@include rem(font-size, 12px);
	background: $color-grey-light;

	.nav-social {
		float: right;

		a {
			padding: 2px 4px;
			margin-left: 10px;
			@include rem(font-size, 20px);
			color: #fff;
		}
	}
}

	.nav-footer {

		a { 			
			padding: 2px;
			margin-right: 10px;
		}
	}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {  

}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(xs) {  

}

// Small devices (landscape phones, 576px and 767px)
@include media-breakpoint-only(sm) {
	
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) { 

}


// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

}

// Medium devices (tablets, 768px - 991px)
@include media-breakpoint-only(md) { 

}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {  

}


// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(lg) {  

}

// Large devices (desktops, 992px and 1199px)
@include media-breakpoint-only(lg) {  

}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {

}


// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

}

