// ----- Modules -----

// ----- Sample module -----
.grid {

&.fullwidth { padding-bottom: 0; }

	.item {
		padding: 15px;
		margin-bottom: 30px;
		background: #fff;

		> img:first-child, > .overlay-wrap:first-child {
			margin-bottom: 20px;
		}
	}
}

